aiohttp
aria2p
async_generator
beautifulsoup4>=
bs4
cairosvg
chromedriver-autoinstaller
coffeehouse
cowpy
cryptg
dnspython
eksipy
emoji
emoji-country-flag
git+https://github.com/bisoncorps/search-engine-parser
git+https://github.com/Joeclinton1/google-images-download.git
git+https://github.com/johnwmillr/LyricsGenius.git
gitpython
google-api-python-client
google-auth-oauthlib
googletrans==
google_images_download>=
gTTS-token>=
gTTS>=
hachoir
heroku3
httplib2
humanize
imagedown
lottie
lxml==
lyricsgenius
numpy
oauth2client
Pillow
psycopg2
pybase64>=
pydub
pylast==
pySmartDL
python-barcode
python-dotenv
pytz
qrcode
requests>=
selenium>=
speedtest
spotdl
spotify_token
sqlalchemy>=
telegraph
telethon-session-sqlalchemy>=
telethon>=
twitter_scraper
urbandict>=
wikipedia>=
youtube-dl
